.content{
    position:absolute;
	width:1050px;
    height: 600px;
    margin-top:10%;
    margin-left: 25%;
    padding:25px 30px;
    box-sizing: border-box;
    align-content: center;
   	text-align: center;
    /* border-right: solid 1px #5c3a07;
    border-left: solid 1px #5c3a07; */
}

button{
    width: 100px;
    padding: 7px 15px;
    margin:9px;
    margin-top: 3%;
    background-color: #5c3a07;
    border: none;
    color: white;
    font-size: 1.0em;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
}
.content>h1{
    border-bottom: solid 1px #5c3a07;
}
.content>table{
    text-align: center; border: 1px solid #dddddd;
    width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
}
.content>table>thead>tr{
    background-color: #5c3a07;
}
.content>table>thead>tr>th{
    font-size: 16pt;
    background-color: #5c3a07;
    text-align: center;  
    color: white;
}
.content>table>tbody>tr>td{
    padding-top: 1%;
    padding-bottom: 1%;
}
.content>table>tbody>tr>td>a{
    text-decoration: none;
    color: black;
}
tr>th:nth-child(1),tr>th:nth-child(3),tr>th:nth-child(4)
tr>td:nth-child(1),tr>td:nth-child(3),tr>td:nth-child(4){
	width: 150px; text-align: center;
}

.search {
    position: relative;
    margin: 0px auto;
    margin-top: 5%;
    width: 900px;
}
.search select{
    position: relative;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 3%;
    font-size: 14px;
}

.input {
    position: relative;
    width: 400px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 14px;
}

.searchpic {
	background-image: url("../imgs/search.png");
    background-repeat : no-repeat;
    background-color:white;
    text-indent:-999px;
    background-size: 20px;
    background-position:center;
    border-style:none;
    position : absolute;
    width: 2.5%;
    right: 2.5%;
    margin-top:3.8%;
    margin-right: 19.5%;
}
#p{
	text-decoration: none;
	color: #5c3a07;
	float: left;
	margin: 10px;
	margin-bottom: 0%;
}
#p:nth-child(1) {
	margin-left: 45%
}